@{
    ViewData["Title"] = "Articles Page";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Статьи</h4>
            @* --------------------------------------------------------- *@
            <ul>
                @foreach (var item in Model)
                    if (@item.IsActive == true)
                {
                    <li>
                        <span>@item.Title</span>
                        <span>@item.Article</span>
                        <span>@item.Date.ToString("yyyy.MM.dd HH:mm")</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

