@{
    ViewData["Title"] = "Article";
}

<div class="text-center">
    <h1 class="display-4"</h1>

    <h2>@Model.Title</h2>
    <a>@Model.Date.AddHours(3).ToString("yyyy.MM.dd HH:mm")<br /></a>
    <a>@Model.Article</a>
    
</div>
