@{
    ViewData["Title"] = "Articles Page";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Статьи</h4>
            @* --------------------------------------------------------- *@
            <ul>
                @foreach (var item in Model)
                    if (@item.IsActive == true)
                    {
                        <li>
                            <a class="text-black-50" href="/Home/Article/@item.Id"><strong>@item.Title</strong></a>
                            <br />
                            <a>@item.Date  </a>
                            <br />
                        </li>
                    }
            </ul>
        </div>
    </div>
</div>

